<% provide(:title, "Log in") %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Healthcare Provider Login</h2><br>
		<%= form_for(:session, url: loginHGO_path) do |f| %>

			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>
				<br>
			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>
				<br>
			<%= f.submit "Login as Provider", class: "btn btn-primary" %>
		<% end %>
    <br>
	<p>New user? <%= link_to "Sign up now!", signupClinic_path %></p>
	
	</div>
</div>