	

   	<!-- Page Content -->
    <div class="container">

        <div class="row">

            <!--FILTER MENU (start)-->
            <%= render "filter" %>
            <!--FILTER MENU  (end)-->

            <div class="col-md-9">

            	<!--STYLIST SEARCH BAR (start)-->
            	<%= render "searchbar" %>
            	<!--STYLIST SEARCH BAR (end)-->
            	<br/><br/>
            	<!--ADVANCED SEARCH BUTTON (start)-->
            	<%= render "advancedsearch" %>
            	<!--ADVANCED SEARCH BUTTON (end)-->

            	<!--COMPARE PRODUCT BUTTON (start)-->
            	<%= render "compare" %>
            	<!--COMPARE PRODUCT BUTTON (end)-->

            	<br/><br/><br/>

            	<!--PRODUCT CAROUSEL (start)-->
            	<!--<%= render "carousel" %>-->
            	<!--PRODUCT CAROUSEL (end)-->

            	<div class="row">

            		<!--PRODUCT LIST (start)-->
            		<%= render "listproduct" %>
            		<!--PRODUCT LIST (end)-->

                    


                </div>

            </div>

        </div>

    </div>
    


