<% provide(:title, @vendor.name) %>
<p id="notice"><%= notice %></p>

<div class="main_content">
    <div class"prod_page">
    	<h4> <strong> User Profile </strong></h4>
        <table class="table">                        

                <tr>
                    <td> <strong> Name: </strong> </td>
                    <td><%= @vendor.name %> </td>
                </tr>
                <tr>
                    <td>  <strong> Email:</strong> </td>
                    <td>  <%= @vendor.email %></td>
                </tr>
                 <tr>
                	<td> <strong> Phone Number: </strong> </td>
                    <td><%= @vendor.telephone %> </td>
                </tr>	

                <tr>
                	<td> <strong> Username: </strong> </td>
                    <td><%= @vendor.username %> </td>
                </tr>
                 
                 <tr>
                	<td> <strong> Role: </strong> </td>
                    <td><%= @vendor.role %> </td>
                </tr> 

       </table>
    </div>

    <div class"prod_page">
    <h4> <strong> Your Products </strong></h4>

    <% if current_user.products.exists? %>
        <% current_user.products.each do |product| %>
            <%= link_to product.name, product %>
            <td><%= link_to 'Click here to remove this product', product, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        <% end %>
    <% else %>
        You have no products.
    <% end %>

   </div>    
</div>

    