<div class="container">

<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form">
      <div class="form-group">
        <div class="col-xs-6">
          <div class="col-xs-6">
          </div>
          <div class="col-xs-6">
            <%= f.label :Name %><br>
            <%= f.text_field :name, placeholder: "Enter Name", class: 'form-control' %>    <br>        
            <%= f.label :SKU, "SKU" %><br>
            <%= f.number_field :SKU, placeholder: "Enter SKU", class: 'form-control'%><br>

            <%= f.label :name, "Upload an Image"%><br>
            <%= f.file_field :image %><br>

            <%= f.label :Price %><br>
            <%= f.number_field :price, :step => 'any', placeholder: "Enter Price", class: 'form-control' %>
            <br><br>

             <%= f.submit "Create a Product", class: "btn btn-primary" %>

            </div>

            
           
      
       </div>
      </div>
    </div>

    <div class="form">
      <div class="form-group">
        <div class="col-xs-6">
           <div class="col-xs-6">
          <%= f.label :Description %><br>
          <%= f.text_area :description, class: 'form-control' %><br>

          <%= f.label :Height %><br>
          <%= f.text_field :height, class: 'form-control' %><br>

          <%= f.label :Width %><br>
          <%= f.text_field :width, class: 'form-control' %><br>

          <%= f.label :Depth %><br>
          <%= f.text_field :depth, class: 'form-control' %>
         
          </div>
       </div>
      </div>
    </div>

  <div class="field">
   

  </div>
<% end %>

</div>


