<div id = "prod_page">

<div id = "prod_img">
	<!--Images are housed in public/uploads/product/image and will correspond to each product so we don't need to have an absolute path just @product.image -->
	<img src="<%= @product.image %>" alt="http://placehold.it/320x150" style="width:auto;height:400px;">
</div>

<div id = "prod_header">
	<h2><%= @product.name %></h2><br>
		<%if isvendor %>
			<!-- vendors don't see favorites -->
		<%else%>
			<button type="submit" class="btn btn-default filter-col" name="add" id="add">Add to Favorites</button>
		<%end%>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/compare/<%= @product.id %>" type="submit" class="btn btn-default filter-col" onmouseover = "this.style.color='black'">Add to Compare</a>
	<hr class = "hr_style">
	 
	<table id = "prod_info">
		<tr>
            <td> <span> SKU: </span> </td>
            <td><%= @product.SKU %></td>
        </tr>
        <tr>
            <td> <span> Price: </span> </td>
            <td> <%= @product.price %> </td>
        </tr>
		<% if !@product.warranty.blank? %>
			<tr>
				<td> <span> Warranty: </span> </td>
				<td> <%= @product.warranty %> </td> 
			</tr>
		<%end%>
        <% if !@product.height.blank? || !@product.height.blank? || !@product.width.blank? %>
            <tr>
                <td><span>Product Dimensions</span></td>
            </tr>
        <%end%>
        
		<% if !@product.height.blank? %>
            <tr>
                <td>&nbsp;&nbsp;Height: </td>
                <td><%= @product.height %>"</td>
            </tr>
        <%end%>
                
        <% if !@product.depth.blank? %>
            <tr>
                <td>&nbsp;&nbsp;Depth: </td>
                <td><%= @product.depth %>"</td>
            </tr>
        <%end%>
                
        <% if !@product.width.blank? %>
            <tr>
                <td>&nbsp;&nbsp;Width: </td>
                <td><%= @product.width %>"</td>
            </tr>
        <%end%>
    </table>
	
	<hr class = "hr_style">
</div>
</div>

<div id = "prod_descript">
	<br>
        <h3> Product Description </h3><br>
            <p><%= @product.description %></p>
        <br> 
        <h3> Product Features </h3>
            <p><%= @product.features %> Product features go here.</p> 
		<br>
	<hr class = "hr_style">
</div>

<div id = "prod_research">
    <h3>Clinical Research </h3>
		<ul>
			<% if !@product.research.blank? %>
			<li><a href="<%= @product.research %>">Click here for further research!</a></li>
			<% end %>
			<% if !@product.research2.blank? %>
			<li><a href="<%= @product.research2 %>">Click here for further research!</a></li>
			<% end %>
			<% if !@product.research3.blank? %>
			<li><a href="<%= @product.research3 %>">Click here for further research!</a></li>
			<% end %>
		</ul>
		<br><hr class = "hr_style">
</div>

<div id = "review">  
	<%= form_for(@review) do |f| %>
        <% if @review.errors.any? %>
            <div id="error_explanation">
                <h3><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h3>

                <ul>
                    <% @review.errors.full_messages.each do |message| %>
					<li><%= message %></li>
                    <% end %>
                </ul>
			</div>
		<% end %>
			
		<br></br>
		<div class="field">
			<h3><%= f.label :Leave_a_Review!, "Leave a Review!" %></h3>
			<%= f.text_area :content, class: 'form-control' %>
			<br>
		</div>
    
		<div class="field">
			<%= f.label :rating %><br>
			<%= f.number_field :rating, in: 1..5, class: 'form-control' %>
			<br>
		</div>

		<div class="field">
			<%= f.label :product_id %><br>
			<%= f.number_field :product_id, class: 'form-control' %>
			<br>
		</div>
    
		<div class="actions">
			<%= f.submit "Create Review", class: "btn btn-primary" %>
		</div>
    <% end %>
	
</div>
	
<div id = "review_results">	
	<br><hr class = "hr_style"><br>
		<h3>Product Reviews</h3><br>
		<% if @reviews.product.length > 0 %>
			<table class = "review_table">
				<tr>
					<th>Review</th>
					<th>Rating</th>
				</tr>
			<% @reviews.each do |review| %>
				<% if review.product_id == @product.id %>
					
					<tr>
						<td> <%= review.content %></td>
						<td> <%= review.rating %></td>
					</tr>        	
				<%end%>
			<%end%> 
		<% else %>
			<p>There are no reviews at this time.</p>
		<%end%>
    
  
    </table>
	<br>
	<br>
</div>




