
<div class="container">
    <div class="col-xs-6"; style="text-align:right;">
        <img src="../../assets/<%= @product.image %>" alt="http://placehold.it/320x150" style="width:320px;height:400px;">
         <table class="table">
         <thead>
            <th> Clinical Research </th>
         </thead>

         <tbody>
            <td> Links and Further Research will go here </td>
         </tbody>
         </table>
    </div>

    <div class="col-xs-6">
   
            <table class="table">
                <thead>  
                    <th colspan="2"><%= @product.name %></th>
                <tr>
                    <th colspan="2"><%= link_to 'Add to Favorites', '#' %></th>
                <tr>
                    <th colspan="2"><a href="/compare/<%= @product.id %>">Add to Compare</a></th>
                </tr>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td> <strong> SKU: </strong> </td>
                    <td> <%= @product.SKU %> </td>
                </tr>
                <tr>
                    <td> <strong> Price: </strong> </td>
                    <td> <%= @product.price %> </td>
                </tr>

                <tr>
                    <td>  <strong> Product Description:</strong> </td>
                    <td> <%= @product.description %> </td>
                </tr>

                </tbody>
            </table>
    </div>

    <div class="col-xs-12"; style="text-align:center;">
       
       
       <%= form_for(@review) do |f| %>
            <% if @review.errors.any? %>
                 <div id="error_explanation">
                     <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

                 <ul>
                    <% @review.errors.full_messages.each do |message| %>
                 <li><%= message %></li>
                    <% end %>
                </ul>
                </div>
        <% end %>

     <div class="field">
        <%= f.label :Leave_a_Review! %><br>
        <%= f.text_area :content, class: 'form-control' %>
    </div>
    
    <div class="field">
        <%= f.label :rating %><br>
        <%= f.number_field :rating, in: 1..5, class: 'form-control' %>
    </div>

    <div class="field">
        <%= f.label :product_id %><br>
        <%= f.number_field :product_id, class: 'form-control' %>
    </div>
    
    <div class="actions">
        <%= f.submit %>
    </div>
    <% end %>

    <div class="col-xs-12"; style="text-align:center;">
         <% @reviews.each do |review| %>
            <% if review.product_id == @product.id %>
            <div class="col-xs-12"; style="text-align:center;">
                <table class="table">
                    <thead>
                        <th style="text-align:center;"> Review</th>
                        <th style="text-align:center;"> Rating</th>
                    </thead>

                    <tbody>
                        <td> <%= review.content %></td>
                         <td> <%= review.rating %></td>
                    </tbody>  
                </table>
            </div>
            <br>
            </br>
            <%end%>
        <%end%> 
    </div>


    </div>
</div>