

<div class="container">
    <div class="col-xs-6"; style="text-align:right;">
        <img src="../../assets/<%= @product.image %>" alt="http://placehold.it/320x150" style="width:320px;height:400px;">
    </div>

    <div class="col-xs-6"; style="text-align:left;">
   
            <div class="col-xs-6">
                <h2><%= @product.name %></24>
                <h4> SKU: <%= @product.SKU %> <h4>
                <h4> Product Description </h4>
                <p> <%= @product.description %></p>
                <h4> Add to Favorites </h4>
                <h4> Features </h4>
                <h4> Included </h4>
            </div>
    </div>

    <div class="col-xs-12"; style="text-align:center;">
        <h4>Leave a Review!</h4>
        <%= link_to 'New Review', new_review_path %>
     <br>  </br>
    <div class="col-xs-12"; style="text-align:center;">
         <% @reviews.each do |review| %>
            <% if review.product_id == @product.id %>
            <div class="col-xs-12"; style="text-align:center;">
                <%= review.content %>
                 <%= review.rating %>
            </div>
            <br>
            </br>
            <%end%>
        <%end%> 
    </div>


    </div>
</div>