

<div class="container">
    <div class="col-xs-6"; style="text-align:right;">
        <img src="../../assets/<%= @product.image %>" alt="http://placehold.it/320x150" style="width:320px;height:400px;">
    </div>

    <div class="col-xs-6"; style="text-align:left;">
   
            <div class="col-xs-6">
                <h2><%= @product.name %></24>
                <h4> SKU: <%= @product.SKU %> <h4>
                <h4> Product Description </h4>
                <p> <%= @product.description %></p>
                <h4> Add to Favorites </h4>
                <h4> Features </h4>
                <h4> Included </h4>
            </div>
    </div>

    <div class="col-xs-12"; style="text-align:center;">
       
       
       <%= form_for(@review) do |f| %>
            <% if @review.errors.any? %>
                 <div id="error_explanation">
                     <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

                 <ul>
                    <% @review.errors.full_messages.each do |message| %>
                 <li><%= message %></li>
                    <% end %>
                </ul>
                </div>
        <% end %>

     <div class="field">
        <%= f.label :Leave_a_Review! %><br>
        <%= f.text_area :content %>
    </div>
    
    <div class="field">
        <%= f.label :rating %><br>
        <%= f.number_field :rating, in: 1..5 %>
    </div>

    <div class="field">
        <%= f.label :product_id %><br>
        <%= f.number_field :product_id %>
    </div>
    
    <div class="actions">
        <%= f.submit %>
    </div>
    <% end %>

     <br>  </br>
    <div class="col-xs-12"; style="text-align:center;">
         <% @reviews.each do |review| %>
            <% if review.product_id == @product.id %>
            <div class="col-xs-12"; style="text-align:center;">
                <%= review.content %>
                 <%= review.rating %>
            </div>
            <br>
            </br>
            <%end%>
        <%end%> 
    </div>


    </div>
</div>