<% content_for :applications do %>
  #menu {display: none}
<% end %>


<% provide(:title, @clinicaluser.name) %>
<div class="row">
  <aside class="col-md-12" >
    <section class="user_info">
    	<h2> User Profile</h2><br>
       <table class="table" >
              
                <tbody>
                <tr>
                    <td> <strong> Name: </strong> </td>
                    <td><%= @clinicaluser.name %> </td>
                </tr>
                <tr>
                    <td>  <strong> Email:</strong> </td>
                    <td>  <%= @clinicaluser.email %></td>
                </tr>
                 <tr>
                	<td> <strong> Phone Number: </strong> </td>
                    <td> <%= @clinicaluser.telephone %> </td>
                </tr>	

                <tr>
                	<td> <strong> Username: </strong> </td>
                    <td><%= @clinicaluser.username %> </td>
                </tr>
                 <tr>
                	<td> <strong> EIN: </strong> </td>
                    <td><%= @clinicaluser.ein %> </td>
                </tr>
                 <tr>
                	<td> <strong> Role: </strong> </td>
                    <td><%= @clinicaluser.role %> </td>
                </tr>


                </tbody>
            </table>
			<span id = "btnFix">
				<%= link_to "Edit Profile", edit_clinical_user_path(current_user), class: "btn btn-primary" %>
			</span>
    </section>
  </aside>
</div>